@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
:root {
  --bg-d1: #c3ceda;
  --bg-d2: #738fa7;
  --bg-d3: #0c4160;
  --bg-d4: #071330;
  --bg-l1: #e4f4f3;
  --bg-l2: #a1dbf1;
  --bg-l3: #71d5e4ab;
  --bg-l4: #00b6bc;
  --bg-Parallax: #0f1b33;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow: scroll;
}
body #root {
  width: 100%;
  min-height: 120vh;
  position: relative;
  z-index: 1;
  margin: 0;
}
body #root .nav {
  font-family: "Nerko One", cursive;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 6vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 1s, top 1.5s;
}
body #root .nav.activeNav {
  background-color: var(--bg-d3);
  transition: background-color 2s, top 1.5s;
}
body #root .nav.activeNav.top-20 {
  top: -20vw;
}
body #root .nav.activeNav.top-0 {
  top: 0;
}
body #root .nav.activeNav .Link {
  background-color: var(--bg-d2);
  transition: background-color 200ms, box-shadow 200ms;
}
body #root .nav.activeNav .Link:hover {
  background-color: var(--bg-l1);
  box-shadow: 0 0 0.5vw 0.2vw var(--bg-l2);
}
body #root .nav.activeNav .active {
  background-color: var(--bg-l1);
  box-shadow: 0 0 0.5vw 0.2vw var(--bg-l2);
  background-color: var(--bg-d1);
  box-shadow: 0 0 0.5vw 0.2vw var(--bg-d2);
}
body #root .nav .Home {
  width: 3.5vw;
  height: 3.5vw;
  margin: 0 auto 0 3vw;
  border-radius: 50%;
  overflow: hidden;
}
body #root .nav .Link {
  padding: 0.6vw 1vw 0.6vw 1vw;
  background-color: transparent;
  color: var(--bg-d4);
  border-radius: 0.5vw;
  margin-right: 1vw;
  text-decoration: none;
  font-size: calc(1.2vw + 0.2rem);
  transition: background-color 200ms;
}
body #root .nav .Link:last-child {
  margin-right: 2vw;
}
body #root .nav .Link:hover {
  background-color: var(--bg-l3);
}
body #root .nav .active {
  background-color: var(--bg-l4);
}
body #root .nav .active:first-child {
  box-shadow: 0 0 0.5vw 0.2vw var(--bg-l2);
}
body #root .nav .Toggle {
  display: none;
}
body #root .BackDrop {
  display: none;
}
body #root .MobileNav {
  display: none;
}

@media (max-width: 991.98px) {
  body #root .nav {
    height: 5rem;
  }
  body #root .nav .Home {
    height: 2.5rem;
    width: 2.5rem;
  }
  body #root .nav .Link {
    font-size: 1.2rem;
  }
}
@media (max-width: 767.98px) {
  body #root {
    overflow-x: hidden;
  }
  body #root .nav {
    height: 4.5rem;
  }
  body #root .nav .Home {
    width: 2rem;
    height: 2rem;
    margin-left: 1.5rem;
  }
  body #root .nav .Link {
    display: none;
  }
  body #root .nav .active:first-child {
    box-shadow: 0 0 0.5rem 0.2rem var(--bg-l2);
  }
  body #root .nav .Toggle {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 2.5rem;
    cursor: pointer;
  }
  body #root .BackDrop {
    display: block;
    position: fixed;
    z-index: 19;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(5, 5, 46, 0.54);
    opacity: 1;
    transition: opacity 2s;
  }
  body #root .MobileNav {
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 99;
    top: 0;
    right: -80vw;
    width: 65%;
    height: 100vh;
    background-color: var(--bg-d2);
    transition: right 1s;
  }
  body #root .MobileNav .SideBar {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column nowrap;
    z-index: 1;
  }
  body #root .MobileNav .SideBar a {
    z-index: 1;
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    padding: 0.6rem 1.5rem;
    background-color: var(--bg-l3);
    border-radius: 0.5rem;
    transition: background-color 500ms, color 700ms;
    text-decoration: none;
    color: var(--bg-d4);
  }
  body #root .MobileNav .SideBar a:hover {
    background-color: var(--bg-d3);
    color: var(--bg-d1);
  }
  body #root .MobileNav .SideBar .active {
    background-color: var(--bg-d4);
    color: var(--bg-d1);
  }
}/*# sourceMappingURL=index.css.map */