@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');//font-family: 'Nerko One', cursive; 400
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');//font-family: 'Roboto Slab', serif; 400, 600
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');//font-family: 'Hind Siliguri', sans-serif; 300, 400, 500, 600, 700
:root {
    --bg-d1 : #c3ceda;
    --bg-d2 : #738fa7;
    --bg-d3 : #0c4160;
    --bg-d4 : #071330;

    --bg-l1 : #e4f4f3;
    --bg-l2 : #a1dbf1;
    --bg-l3 : #71d5e4ab;
    --bg-l4 : #00b6bc;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    overflow: scroll;
    #root {
        width: 100%;
        min-height: 120vh;
        position: relative;
        z-index: 1;
        .nav {
            font-family: 'Nerko One', cursive;
            position: fixed;
            z-index: 100;
            top: 0;
            left: 0;
            height: 6vw;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            transition: background-color 1s, top 1.5s;
            &.active {
                background-color: var(--bg-d3);
                transition: background-color 2s, top 21.5;
                &.top-20 {
                    top: -20vw;
                }
                &.top-0 {
                    top: 0;
                }
                .Link {
                    background-color: var(--bg-d2);
                    transition: background-color 200ms, box-shadow 200ms;
                    &:hover {
                        background-color: var(--bg-d1);
                        box-shadow: 0 0 0.5vw 0.2vw var(--bg-d2);
                    }
                }
            }
            .Home {
                padding: 0.6vw 1vw 0.6vw 1vw;
                background-color: transparent;
                color: var(--bg-d4);
                border-radius: 0.5vw;
                text-decoration: none;
                transition: background-color 200ms;
                margin: 0 auto 0 2vw;
                border-radius: 0;
            }
            .Link {
                padding: 0.6vw 1vw 0.6vw 1vw;
                background-color: transparent;
                color: var(--bg-d4);
                border-radius: 0.5vw;
                margin-right: 1vw;
                text-decoration: none;
                transition: background-color 200ms;
                &:last-child {
                    margin-right: 2vw;
                }
                &:hover {
                    background-color: var(--bg-l3);
                }
            }
            .Toggle {
                display: none;
            }
        }
        .BackDrop {
            display: none;
        }
        .MobileNav {
            display: none;
        }
        div {
            .Parallax {
                position: relative;
                z-index: 1;
                min-width: 100%;
                height: 50vw;
                overflow: hidden;
                background-color: var(--bg-d3);
                .img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: var(--i--n);
                    #blend {
                        mix-blend-mode: screen;
                    }
                }
            }
        }
    }
}


// @media (max-width: 1399.98px) { ... }

// @media (max-width: 1199.98px) { ... }

// @media (max-width: 991.98px) { ... }



@media (max-width: 767.98px) {
    body {
        #root {
            .nav {
                height: 4.5rem;
                .Home {
                    font-size: 1.4rem;
                }
                .Link {
                    display: none;
                }
                .Toggle {
                    display: block;
                    width: 1rem;
                    height: 1rem;
                    margin-right: 2.5rem;
                    cursor: pointer;
                }

            }
            .BackDrop {
                display: block;
                position: absolute;
                z-index: 19;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background-color: rgba(5, 5, 46, 0.54);
            }
            .MobileNav {
                display: grid;
                place-items: center;
                position: absolute;
                z-index: 20;
                top: 0;
                right: -80vw;
                width: 65%;
                height: 100vh;
                background-color: var(--bg-d2);
                transition: right 1s;
                animation-name: travel;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                    animation-iteration-count: 1;
                .SideBar {
                    width: 100%;
                    height: 50%;
                    display: flex; 
                    justify-content: space-evenly;
                    align-items: center;
                    flex-flow: column nowrap;
                    a {
                        font-family: 'Roboto Slab', serif;
                        font-weight: 600;
                        padding: .6rem 1.5rem;
                        background-color: var(--bg-l3);
                        border-radius: .5rem;
                        transition: background-color 500ms, color 700ms;
                        text-decoration: none;
                        color: var(--bg-d4);
                        &:hover {
                            background-color: var(--bg-d4);
                            color: var(--bg-d1);
                        }
                    }
                }
                .Travel1 {
                    animation-name: travel;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                    animation-iteration-count: 1;
                }
                .Travel1 {
                    animation-name: travel;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                    animation-iteration-count: 1;
                }
            }
        }
    }
}

// @media (max-width: 575.98px) { ... }

@keyframes travel {
    from {
        right: -80vw;
    }to {
        right: 0;
    }
}
